/*-- scss:defaults --*/
$body-bg: #f1f1f1 !default;
$body-color: rgb(66, 66, 66) !default;
$link-color: #008ec4 !default;

$presentation-heading-font: "Quicksand", sans-serif !default;
$presentation-heading-text-transform: none;
$presentation-heading-color: #C30771 !default;

// $code-color: var(--quarto-hl-at-color) !default;
$code-color: #008ec4 !default;